<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{meta_title page=(t " - 第%页")}}{{#is "post, page"}} – {{@site.title}}{{/is}} - {{@site.description}}</title>
	<meta name="description" content="Tam - Creative Portfolio Template" />
	<meta name="keywords"
		content="blog, business card, creative, creative portfolio, cv theme, online resume, personal, portfolio, professional cv, responsive portfolio, resume, resume theme, vcard" />
	<meta name="author" content="beingeorge" />
	<meta name="theme-color" content="#2a2d35">
	<!-- fontawesome Css-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.12.1/css/all.min.css" />
	<!-- Vendor Css-->
	<link rel="stylesheet" href="{{asset '/css/vendor.css'}}" />

	<!-- TamTemplate style Css -->
	<link href="{{asset '/css/tam.css'}}" rel="stylesheet">
	<!-- prism style Css -->
	<link href="{{asset '/css/prism.css'}}" rel="stylesheet">
	<!-- Custom style Css -->
	<link href="{{asset '/css/custom.css'}}" rel="stylesheet">
	{{!-- Ghost 页头信息 --}}
	{{ghost_head}}
</head>

<body data-spy="scroll" data-target=".navbar" class="{{body_class}}">

	<!-- START: Preloader -->
	<div id="preloader" class="preloader">
		<div class="spinner-grow text-dark" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
	<!-- END: Preloader -->

	<!-- START: Aside -->
	<aside class="aside">
		<!-- START: NAVBAR -->

		<div class="nav-wrapper">

			<div class="navbar-toggler">
				<svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="60">
					<path class="line top"
						d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
					<path class="line middle" d="m 30,50 h 40" />
					<path class="line bottom"
						d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
				</svg>
			</div>

			<nav class="navbar text-center align-items-center justify-content-center">


				{{navigation}}
				{{> site-sidebar-footer}}

			</nav>
		</div>
		<!-- END: NAVBAR -->
	</aside>
	<!-- START: Aside -->

	<div class="page-overlay">
		<span class="overlay-1"></span>
		<span class="overlay-2"></span>
	</div>

	<div class="page-wrapper">
		<div id="pjax-container">
			{{{body}}}
		</div>
		<!--START: FOOTER-->
		<footer class="footer section section-dark">
			<div class="container">
				<p class="copyright text-center mb-0">&copy; 山然小站 | 保留所有钱！</p>
			</div>
		</footer>
		<!--END: FOOTER-->
		<!--START: search-->
		{{> search}}
		<!--END: search-->
	</div>


	<!-- JAVASCRIPTS -->

	<script src="{{asset "/js/vendor.js"}}"></script>
	<!-- Custom Js -->
	<script src="{{asset "/js/custom.js"}}"></script>
	<!-- pjax Js -->
	<script src="{{asset "/js/jquery.pjax.js"}}"></script>
	<!-- prism Js -->
	<script src="{{asset "/js/prism.js"}}"></script>
	<!-- Valine Js -->
	<script src='https://cdn.jsdelivr.net/npm/valine@1.3.10/dist/Valine.min.js'></script>
	<!-- search Js -->
	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/npm/@tryghost/content-api@1.3.7/umd/content-api.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/ghost-search@1.0.1/dist/ghost-search.min.js"></script>
	<!-- app Js -->
	<script src="{{asset "/js/app.js"}}"></script>


	{{!-- 用户自定义脚本 --}}
	{{{block "scripts"}}}

	{{!-- Ghost 页脚信息 --}}
	{{ghost_foot}}
</body>

</html>