	{{!< default}}

	<!-- START: CONTACT -->
	<section class="section section-light section-contact" id="contact">
		{{#post}}
		<div class="container">
			<div class="section-head">
				<span>My Post</span>
				<h2>{{title}}</h2>
			</div>
		</div>
		<div class="container">
			<div class="post-header">
				{{#foreach authors}}{{name}}{{/foreach}}
				<span class="date-divider">/</span>
				<time datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY-MM-DD"}}</time>
				
				{{#if primary_tag}}<span class="date-divider">/</span>{{#primary_tag}}{{name}}{{/primary_tag}}{{/if}}
				<span class="date-divider">/</span>
				{{reading_time minute=(t "1分钟阅读") minutes=(t "%分钟阅读")}}
			</div>
		</div>
		<div class="container">
				<div class="post-content {{post_class}}">
					<!-- content -->
					{{content}}
				</div>
		</div>
		{{/post}}
		<div class="contact-Otherdetails section-dark">
			<div class="container">
				<div class="contact-form mt-5 pt-5">
					{{> comment}}
				</div>
			</div>
		</div>
	</section>
	<!-- END: CONTACT -->
