	{{!< default}}

	<!-- START: CONTACT -->
	<section class="section section-light section-contact" id="contact">
		{{#post}}
		<div class="container">
			<div class="section-head">
				<span>My Post</span>
				<h2>{{title}}</h2>
			</div>
		</div>
		<div class="container">
			<div class="post-header">
				{{#foreach authors}}{{name}}{{/foreach}}
				<span class="date-divider">/</span>
				<time datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY-MM-DD"}}</time>
				
				{{#if primary_tag}}<span class="date-divider">/</span>{{#primary_tag}}{{name}}{{/primary_tag}}{{/if}}
				<span class="date-divider">/</span>
				{{reading_time minute=(t "1分钟阅读") minutes=(t "%分钟阅读")}}
			</div>
		</div>
		<div class="container">
				<div class="post-content {{post_class}}">
					<!-- content -->
					{{content}}
				</div>
		</div>
		{{/post}}
		<div class="contact-Otherdetails section-dark">
			<div class="container">
				<div class="contact-form mt-5 pt-5">
					<form>
						<h5 class="section-subHead mb-2">评论</h5>
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group mt-3 wow fadeInUp" data-wow-duration="1.5s">
									<input name="name" id="name" type="text" class="form-control b-box" placeholder="Your Name*" required>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group mt-3 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
									<input name="email" id="email" type="email" class="form-control b-box" placeholder="Your Email*" required>
								</div>
							</div>                                
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group mt-3 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
									<input type="text" class="form-control b-box" id="subject" placeholder="Your Subject.." required/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group mt-3 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".4s">
									<textarea name="comments" id="comments" rows="4" class="form-control b-box" placeholder="Your message..."></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 text-center mt-4 mb-5  wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s">
								<a href="#" class="btn hover-state">Submit</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- END: CONTACT -->
