{{!< default}}
{{#post}}
<!-- START: HOME -->
<section class="section-home " id="post">
	<div class="glass post">
		<h3>{{title}}</h3>
		{{> post-info}}
	</div>

	<img id="full_img" src="{{#if feature_image}}{{img_url feature_image}}{{else}}{{asset "/images/banner.jpg"}}{{/if}}" />
</section>
<!-- END: HOME -->
<!-- START: CONTACT -->
<section class="section section-light section-contact" id="contact">

	<div class="container">
		<div class="post-content {{post_class}}">
			<!-- content -->
			{{content}}
		</div>
	</div>
	{{> comment}}
</section>
{{/post}}
<!-- END: CONTACT -->
