{{!< default}}
{{#tag}}
<!-- START: HOME -->
<section class="section-home " id="home">
	<div class="glass">
		<h3>{{name}}</h3>
		</div>
	<img src="{{#if feature_image}}{{feature_image}}{{else}}{{asset '/images/banner.jpg'}}{{/if}}" id='full_img' />
</section>
<!-- END: HOME -->
{{/tag}}
<!-- START: BLOG -->
<section class="section section-light">
	<div class="container">
		<div class="section-head">
			{{#tag}}
			<span>{{name}}</span>
			<h2>{{description}}</h2>
			{{/tag}}
		</div>

		<div class="row">
			{{#foreach posts}}
			{{> post-card}}
			{{/foreach}}
		</div>
		<div class="container">
			{{pagination}}

		</div>
	</div>
</section>
<!-- END: BLOG -->